body {
   background-color: #98DBFF;
   font-size:25px;
}

<!--h1 {
  margin-left: 50px;
}-->

img{
  margin-left: 50px;
  float: left;
  margin-top: 25px;
}
ul{
  border-radius: 25px;
  padding-top: 15px;
  margin-left: 300px;
  background-color: #ffffff;
  width: 500px;
  height: 150px;
  color: #000000;
}
